/* Small Devices, Tablets */
@media only screen and (max-device-width : 640px){
  * {
    font-family: "Helvetica Neue";
    font-weight: lighter;
  }

  h1{
    font-size: 3em;
  }
  .col{
    width: 100% !important;
  }
  .nav-border {
    width: 80% !important;
  }
  .nav li{
    font-size: 3.5em !important;

  }

  //чередование цветов

  .item-image{
    height: auto!important;
    width: 25%!important;
    display: inline-block;
    padding: 0% 5.5% 0% 2.5%;

  }
  .item-name{
    h2{
      font-size: 3em !important;
    }
  }
  .rating{
    img{
      width: 32px !important;
      height: 32px !important;
    }
  }
  .buy-button{
    background-color: rgba(67, 169, 255, 0.50);
    a{
      font-size: 3.3em !important;
      padding-bottom: 1%;
    }
  }
  .close{
    width: 64px !important;
    height: 64px !important;
  }

  //СЛАЙДЕР
  .info-panel-content{
    h1{
      font-size: 3em !important;
    }
    p{
      font-size: 2em !important;
    }
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-device-width : 1200px) {
  .col {
    width: 50%;
  }

}



