/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {

  .col{
    width: 100% !important;
  }
  .nav li{
    font-size: 1.5em;
  }

  .item-image{
    height: 100%;
    width: 25%;
    display: inline-block;
    padding: 0% 5.5% 0% 2.5%;

  }
  .item-name{
    h2{
      font-size: 3em !important;
    }
  }
  .buy-button{
    a{
      font-size: 2em !important;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-device-width : 1200px) {
  .col {
    width: 50%;
  }
  .apps, .games {

  }
}



