

.table-form {
  margin:0;padding:0;
  max-width:100%;

  border:1px solid #2c97de;

}.table-form table{
   border-collapse: collapse;
   border-spacing: 0;
   width:100%;
   height:100%;
   margin:0px;padding:0px;
 }
.table-form tr:nth-child(odd) {
  background-color: #2C97DE;
}
.table-form tr:nth-child(even)    { background-color: #2FA9F4; }
.table-form td{

  width: 80px;
  height: 80px;
  vertical-align:middle;
  border:1px solid #6082f5;
  border-width:0px 1px 1px 0px;
  text-align:center;
  padding:1%;
  font-size: 1em;
  font-family:'Helvetica Neue', Arial, sans-serif;
  font-weight:normal;
  color:#000000;
}
.table-form td a{
  font-weight: bolder;
  font-size: 1em;
  line-height: 2;
  &:hover{
  color: #b5d8ff;
}

}
.table-form tr:last-child td{
  border-width:0px 1px 0px 0px;
}
.table-form tr td:last-child{
 border-width:0px 0px 1px 0px;
}
.table-form tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.table-form tr:first-child td{
  background:-o-linear-gradient(bottom, #185478 5%, #1d6492 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #185478), color-stop(1, #1d6492) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#185478", endColorstr="#1D6492");

  background-color:#185478;
  border:0px solid #1d6492;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:15px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}
.table-form tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #185478 5%, #1D6492 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #185478), color-stop(1, #1D6492) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#185478", endColorstr="#1D6492");

  background-color:#185478;
}
.table-form tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.table-form tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}
.item-content{
padding-top: 2%;
  background-color: #0f133f;
  padding-bottom: 20px;
}
.item-new {
  max-height: 20%;
  max-width: 100%;
  text-align: center;
  font-size: 3em;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: auto;
  color: #b1d6e8;
  box-sizing: border-box;
  a {
    -webkit-transition:background-color 0.3s linear;
    -o-transition:background-color 0.3s linear;
    -moz-transition:background-color 0.3s linear;
    transition:background-color 0.3s linear;
    background-color: #185478;
    border: solid;
    border-radius: 20px;
    color: white;
    padding: 0 6%;
  }

}
.item-new:hover{
  a{
    background-color: #0f133f;
    color: #aacee0;
  }
}



#item_item_image{
  padding-left: 0!important;
}
.footer-items{

  border-top: 1px solid #1D6492;
  width: 100%;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #2b3e51;
  background-color: #2c97de;
}
.nav-border.in-items{
  width: 100%;
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border: 0;
  background: linear-gradient(to bottom, #0f133f, #4092ff);
  height: 100%;
  margin-bottom: -6px;
  margin-top: 0;
  p{
    color: #ffffff!important;

  }
}
.nav-border.in-items a.active  {
  color: #ffffff;
  background: linear-gradient(to bottom, #0f133f, #185478);
}

.items-table{
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
}
.background-color{
  min-height: 100vh;
  background:-o-linear-gradient(bottom, #185478 5%, #2c97de 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #185478), color-stop(1, #2c97de) );
}
@media only screen and (max-device-width : 768px) {
  .nav-border.in-items{
    width: 100% !important;
  }

}
@media only screen and (max-device-width : 768px) {
  .item-new{
    font-size: 2em;
  }
}

///////////////////////разноцветный текст для квестов//////////////////////////
.important, .done, .unimportant, .done{
  font-weight: 900!important;
}
.important{
  color: #cc1000 !important;
}
.warning{
  color: yellow!important;
}
.unimportant{
  color: #002c59 !important;
}
.done{
  color: green!important;
}