
.table-form {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #2c97de;

  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;

  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;

  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;

  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.table-form table{
   border-collapse: collapse;
   border-spacing: 0;
   width:100%;
   height:100%;
   margin:0px;padding:0px;
 }.table-form tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
  }
.table-form table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.table-form table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.table-form tr:last-child td:first-child{
   -moz-border-radius-bottomleft:0px;
   -webkit-border-bottom-left-radius:0px;
   border-bottom-left-radius:0px;
 }.table-form tr:hover td{

  }
.table-form tr:nth-child(odd){ background-color: #45b5de; }
.table-form tr:nth-child(even)    { background-color: #3dc8de; }.table-form td{
                                                                 vertical-align:middle;


                                                                 border:1px solid #2c97de;
                                                                 border-width:0px 1px 1px 0px;
                                                                 text-align:center;
                                                                 padding:7px;
                                                                 font-size:15px;
                                                                 font-family:Arial;
                                                                 font-weight:normal;
                                                                 color:#000000;
                                                               }.table-form tr:last-child td{
                                                                  border-width:0px 1px 0px 0px;
                                                                }.table-form tr td:last-child{
                                                                   border-width:0px 0px 1px 0px;
                                                                 }.table-form tr:last-child td:last-child{
                                                                    border-width:0px 0px 0px 0px;
                                                                  }
.table-form tr:first-child td{
  background:-o-linear-gradient(bottom, #185478 5%, #1d6492 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #185478), color-stop(1, #1d6492) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#185478", endColorstr="#1D6492");

  background-color:#185478;
  border:0px solid #1d6492;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:15px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}
.table-form tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #185478 5%, #1D6492 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #185478), color-stop(1, #1D6492) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#185478", endColorstr="#1D6492");

  background-color:#185478;
}
.table-form tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.table-form tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}

.item-new {
  width: 100%;
  text-align: center;
  font-size: 3em;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  overflow: auto;
  color: #b1d6e8;
  a {
    color: #b1d6e8;
    background-color: #185478;
    border: solid;
    border-radius: 20px;
    color: white;

  }
}
.item-new:hover{
  a{
    background-color: #0f133f;
    color: #aacee0;
  }
}

#notice{
  text-align: center;
  background-color: #185478;
  color: #d3fffd;
  font-size: 2.5em;
  h1{text-shadow: #adff8f 1px 0px, #adff8f 1px 1px, #adff8f 0px 1px, #adff8f -1px 1px, #adff8f -1px 0px, red -1px -1px, red 0px -1px, red 1px -1px, red 0 0 3px, red 0 0 3px, red 0 0 3px, red 0 0 3px, red 0 0 3px, red 0 0 3px, red 0 0 3px, red 0 0 3px;}
}