
  * { //стили, что задаются здесь, являются общими для всех(если их не переопределить в потомке)
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: 0;
  margin: 0;
  border: 0;
  height: auto;
  font-family: "Helvetica Neue";
  font-weight: 200;
}

html{
 height: auto;
}
body{
  z-index: 1;
  //height: 100%;
}
body.overflow-hidden {
 overflow: hidden;

}
///////////////

/****************************ВЕРХНЕЕ МЕНЮ******************************/
.up-row{
  z-index: 1;
  text-align: center;
  border-bottom: 1px solid;
  -moz-border-image: url(/uploads/item/item_image/grad/1.png) 29 stretch;
  -webkit-border-image: url(/uploads/item/item_image/grad/1.png) 29 stretch;
  -o-border-image: url(/uploads/item/item_image/grad/1.png) 29 stretch;
  border-image: url(/uploads/item/item_image/grad/1.png) 29 stretch;
  height: 20%;
  width: 100%;
  display: inline-block;

}
.nav {
  display: inline-block;
  list-style: none;
  text-align: center;
  width: 100%;
  background: #f7f7f7;

}

.nav-border{
  display: inline-block;
  width: 60%;
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 1px solid #2f7dbd;
  overflow: hidden;
  margin-bottom: 3%;
  margin-top: 3%;
  height: 75px;
  a {
    height: 75px;
    width: 50%;
    padding: 0.7% 0.7%;
    float: left;
    font-size: 2.6em;
    text-align: center;
    background-color: #f4faec;
    color: #2f7dbd;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-transition: background 0.15s 0.15s;
    -moz-transition: background 0.15s 0.15s;
    transition: background 0.15s 0.15s;
    &:hover{
      background: rgba(159,222,255,0.2);

    }
    p{
      position: relative;
      top: 30%;
    }
  }
}


.nav a.active {
  background: #007aff;
  color: #e4fffc;

}

/**************************** СЛАЙДЕР ********************************/
.wrap{ //основной блок страницы
  z-index: 1;
  width: 100%;

  height: 150%;
  overflow: hidden;
  position: absolute;
  -webkit-transform-style: preserve-3d;
}

.section{
  position: absolute;
  width: 100%;
  height: 100%;
}
.page-1{
  left: 0;
}
.page-2{
  left: 100%;
}

/***************** ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ ****************************/
#items {   //общий блок для всего контента

  width: 100%;
  height: auto;

}

.col{  //колонка
  width: 50%;
  float: left;
  position: relative;
}

.apps{ //разметка для единичного товара
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  float: right;
  border-collapse: collapse;
  border-bottom: 1px solid #007AFF;
  border-right: 1px solid #007AFF;

  .item-image {
    //изображение
    width: 25%;
    height: auto;
    display: inline-block;
    padding: 5% 5.5% 5% 2.5%;
    float: left;
    position: relative;
  }
  .item-name{ //имя товара
    position: absolute;
    padding-bottom: 10%;
    padding-top: 6%;
    float: left;


    line-height: 0.8;
    width: 38%;
    display: inline-block;
    h2{
      font-size: 2.3em;

    }
  }

  .rating{ //рейтинг
    position: relative;
    top: 110px;
    height: 100%;

  }
}


.buy-button, .buy-button-description{ //кнопка покупки
  position: relative;
  top: 35px;
  border: 1px solid rgba(67, 169, 255, 0.50);
  background-color: #007AFF;
  width: auto;
  height: 50px;
  padding: 0.5% 2% 0 2%;
  float: right;
  text-align: center;
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 8px 8px 8px 8px;
  margin-right: 10%;
  margin-left: 15%;
  a{
    font-size: 2.3em;
    color: #fff;
    position: relative;
    top: 20%;

  }
}
.buy-button-description{
  left: -145px;
}

