// Place all the styles related to the main_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$height: 2000px;
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background: #eee;

  height: 2000px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.overflow-hidden {
  overflow: hidden;
}

#demo {
  width: 100%;
  height: $height;
  visibility: visible;
  margin: 1% auto 0;
  cursor: hand;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.nav {
  list-style: none;
  text-align: center;
  height: 5%;
  margin-bottom: 1%;
  overflow: visible;
}

.nav li.active {
  background: #215;
  color: #fff;

}

.nav li {
  width: 50%;
  float: left;
  text-align: center;
  background: #abc;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 2em;
  line-height: 312.5%;
  font-weight: 600;
  height: 100%;
}

.apps, .games{
  width: 49%;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 1px solid #3946ea;
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 2%;
  float: left;
  text-align: center;
  hr{
    border: 1px solid #747474;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.games{
  border: 1px solid #62ea8e;
}

.item-image{
  width: 100%;
}

#items {
  width: 100%;
  height: $height;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(138, 190, 178, 0.8);
  cursor: pointer;
  display: none;
}

.close{
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 10px;
  background: url("close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 3;
  display: none;
}
.close.is-visible {
  display: block;
  -webkit-animation: move-in 0.8s;
  -moz-animation: move-in 0.8s;
  animation: move-in 0.8s;
}

@media only screen and (min-width: 1200px) {
  .close {
    right: 20px;
    top: 20px;
  }
}
@-webkit-keyframes move-in {
  0% {
    -webkit-transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes move-in {
  0% {
    -moz-transform: translateX(100px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes move-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
