#demo {
  visibility: hidden;
}

.button.deactivated {
  opacity: 0.2;
  cursor: default;
}

.prev {
  margin-left: -320px;
  border-width: 50px 50px 50px 0;
  border-color: transparent #333 transparent transparent;
}

.next {
  margin-left: 270px;
  border-width: 50px 0 50px 50px;
  border-color: transparent transparent transparent #333;
}


